/* visual styles */
body{
    margin:0;
    font-family:sans-serif;
    color:#ffffff;
    text-align:center;
}

/* fullscreen setup */
html, body {
    /* all the tags up to .fullscreen-cont must have this style */
    height:100%;
}


/* content styles */
.content {
    background: url("../images/bg.jpg");
    border-bottom: 5px solid #E8432E;
    position: relative;
}

.desc h2 {
    color: #FFFFFF;
    font-family: 'pt_sansbold';
    line-height: 1.2em;
    margin: 2.5em 0 1em;
    text-shadow: 0 0 5px #474747;
    font-size: 3em;
    width: 100%;
}
/*custom bootstrap styling*/

.navbar-default {
   background-color: transparent;
}

.navbar-fixed-top {
    border-width: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}